body {
    margin: 0px;
}

text {
    font-family: 'Roboto', sans-serif;
}

.right-section .budget-amount {
    fill: black;
    font-size: 3vh;
    font-weight: bold;
}

.right-section .economic-classification {
    fill: black;
    font-size: 1.6vh;
}

.right-section .programme {
    fill: black;
    font-size: 2.2vh;
    font-weight: bold;
}

.legend .legend-item-text {
    fill: black;
}

.legend .legend-item-text-background {
    fill: #F2F2F2;
}

.legend-item-text {
    font-size: 1.5vh;
}

.bubble-chart text {
    fill: white;
    text-anchor: middle;
    font: 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
    pointer-events: none;
}

.unselected {
    opacity: 0.1;
}

.econ-circle:hover {
    stroke:black;
    stroke-width:2px;
}
