body {
    margin: 0px;
    padding: 0px;
}
text {
    font-family: 'Roboto', sans-serif;
}

.main-label rect {
    fill: #333333;
}

.main-label text {
    font-size: 2.3vh;
    fill: white;
}

.label-separator {
    stroke: #cccccc;
}

.svg-content-responsive {
    display: block;
    left: 0;
    width: 100%;
}

.bounding-box {
    stroke: none;
    fill: none;
}

.save-button text {
    font-size: 0.8em;
    fill: #333333;
    pointer-events: none;
}

.save-button rect {
    fill: #E5E5E5;
    text-shadow: -1px 1px 0px rgba(30, 30, 30, 0.8);
}

.save-button rect:hover {
    fill: #ccc;
}

.save-button rect:active {
    fill: #aaa;
}
