.main-label rect {
    fill: #333333;
}

.main-label text {
    font-family: arial;
    font-size: 2.3vh;
    fill: white;
}

.label-separator {
    stroke: #cccccc;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    left: 0;
    width: 100%;
}

.bounding-box {
    stroke: none;
    fill: none;
}
