text {
    font-family: Arial;
}

.top-labels .programme-label, .top-labels .subprogramme-label {
    fill: black;
    font-size: 11px;
}

.top-labels .programme-budget-label, .top-labels .subprogramme-budget-label  {
    font-size: 22px;
}

.tile {
    stroke: none;
}

.tile:hover {
    stroke:black;
    stroke-width:2px;
}

.box .programme-label {
    font-size: 13px;
    pointer-events: none;
}

.box .subprogramme-label, .box .subprogramme-budget-label {
    opacity: 0.7;
    font-size: 11px;
    pointer-events: none;
}
