.top-labels .programme-label, .top-labels .subprogramme-label {
    fill: black;
    font-size: 1.5vh;
}

.top-labels .programme-budget-label, .top-labels .subprogramme-budget-label  {
    font-size: 2.2vh;
}

.tile {
    stroke: #cccccc;
}

.tile:hover {
    stroke:white;
    stroke-width:2px;
}

.programme-label, .programme-label tspan {
    font-size: 1.8vh;
    pointer-events: none;
}

.box .subprogramme-label, .box .subprogramme-budget-label {
    opacity: 0.7;
    font-size: 1.6vh;
    pointer-events: none;
}

#my_dataviz {
}

