{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "ie": "10",
          "edge": "17"
        },
        "useBuiltIns": "entry",
        "corejs": "3",
        "loose": true,
        "debug": true,
        "forceAllTransforms": true
      }
    ]
  ],
  "plugins": []
}
